* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

h1 {
  padding-top: 25px;
}

h1,
h2,
p,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #32323d;
}

#searchbar {
  padding: 5px;
  border: 1px solid gray;
  margin: 10px;
}
#sorting {
  padding: 5px;
}
button[data-action="filter"] {
  padding: 5px 10px;
  color: rgb(66, 50, 37);
  background-color: rgb(177, 185, 196);
  border: 0;
  border-radius: 3px;
  margin: 5px auto;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
}

button.chosen {
  background-color: black;
  color: white;
}

.student {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(229, 231, 236);
  margin: 10px 0;
  border-radius: 5px;
  justify-content: space-between;
}

.student:nth-of-type(even) {
  background-color: rgb(175, 178, 187);
}
.student div div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0;
  border-radius: 5px;
}
.student div {
  display: flex;
  flex-direction: row;
}
.student div + div {
  display: flex;
  flex-direction: column;
  width: 260px;
}
.student button {
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(143, 143, 143, 0.452);
}
.expelled button,
.expelled .squad {
  display: none;
}
.expell,
.prefect {
  padding: 5px;
  margin: 10px;
}

button[data-prefect="false"]::after {
  content: "🏆 Appoint prefect";
}
button[data-prefect="true"]::after {
  content: "🏆 Remove as prefect";
  filter: grayscale(100);
}
.prefectsymbol::before {
  content: "🏆";
}

.student p[data-field="squad"] {
  padding: 0 10px 10px 10px;
}
p[data-squad="false"]::after {
  content: "Appoint to Inquisitorial Squad";
}
p[data-squad="true"]::after {
  content: "Remove from Inquisitorial Squad";
}
.squadsymbol::after {
  content: " ☠";
  font-size: 120%;
}

.student h3,
.student p,
.student img {
  padding: 5px;
}
.student img {
  width: 100px;
  height: 100px;
}

#popup,
#removeprefect {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

#removeprefect {
  background-color: rgba(214, 127, 127, 0.212);
}
#popup div,
#removeprefect .dialog {
  background-color: white;
  width: 80vw;
  height: 80vh;
  display: flex;
  overflow-y: scroll;
  margin: 10vh auto;
  flex-direction: column;
  padding: 40px 20px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.493);
}
#removeprefect div div {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: auto;
}
#removeprefect button {
  padding: 15px;
  margin: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.274);
  border-radius: 5px;
}

#removeprefect h2,
#removeprefect p {
  padding: 10px;
  margin: 0 50px;
}

#removeprefect .prefectbutton::before {
  content: "Remove ";
}

#popup img {
  width: fit-content;
}

#popup button,
#removeprefect .closebutton {
  width: fit-content;
  height: fit-content;
  border: 0;
  color: black;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0);
  align-self: flex-end;
  box-shadow: none;
  position: fixed;
  top: 8vh;
  right: 8vw;
  z-index: 2;
  border-radius: 25px;
}

#popup div h3,
#popup div p {
  padding: 10px 0;
}

.hufflepuff {
  background-color: rgba(240, 240, 112, 0.363);
}
.slytherin {
  background-color: rgba(126, 233, 149, 0.384);
}
.gryffindor {
  background-color: rgba(231, 119, 119, 0.418);
}
.ravenclaw {
  background-color: rgba(113, 141, 233, 0.411);
}

/* Info on top of interface */
#schoolinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px 20px 0;
  align-content: stretch;
}
#schoolinfo p {
  width: fit-content;
  flex-shrink: 1;
  flex-basis: 250px;
}

#gryffindornumber::before {
  content: "Gryffindor students: ";
}
#hufflepuffnumber::before {
  content: "Hufflepuff students: ";
}
#slytherinnumber::before {
  content: "Slytherin students: ";
}
#ravenclawnumber::before {
  content: "Ravenclaw students: ";
}
#totalstudents::before {
  content: "Total students: ";
}
#totalexpelled::before {
  content: "Total expelled students: ";
}
#studentsdisplayed::before {
  content: "Students displayed: ";
}

/* Crest in popup */
#popup .crestgryffindor::after {
  content: "🦁 Colors: red and gold.";
}
#popup .cresthufflepuff::after {
  content: "🐼 Colors: Yellow and black.";
}
#popup .crestravenclaw::after {
  content: "🐦 Colors: Blue and silver.";
}
#popup .crestslytherin::after {
  content: "🐍 Colors: green and silver.";
}
